---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Descripciones meta mejoradas -->
    <meta
      name="description"
      content="Integra Meetings - Expertos en producción y gestión de eventos en México. Ofrecemos soluciones personalizadas para eventos virtuales y presenciales, desde conferencias hasta lanzamientos globales."
    />

    <!-- Palabras clave relevantes para SEO -->
    <meta
      name="keywords"
      content="Integra Meetings, producción de eventos, eventos corporativos, reuniones virtuales, conferencias, gestión de eventos, producción de eventos en México"
    />

    <!-- Meta social para compartir en redes -->
    <meta
      property="og:title"
      content="Integra Meetings - Soluciones creativas en eventos"
    />
    <meta
      property="og:description"
      content="Integra Meetings ofrece una experiencia completa para la gestión y producción de eventos presenciales y virtuales. Crea eventos memorables y personalizados."
    />
    <meta
      property="og:image"
      content="https://github.com/Integra-Meetings/integraMeetingsImagenes/blob/main/ourCompress.png"
    />
    <meta property="og:url" content="https://integrameetings.com.mx/" />
    <meta property="og:type" content="website" />

    <!-- Etiquetas Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Integra Meetings - Producción de Eventos"
    />
    <meta
      name="twitter:description"
      content="Organizamos eventos memorables que combinan diseño, tecnología y gestión eficiente. Eventos presenciales y virtuales a medida."
    />
    <meta
      name="twitter:image"
      content="https://github.com/Integra-Meetings/integraMeetingsImagenes/blob/main/ourCompress.png"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <!-- Preconexiones para mejorar la velocidad de carga -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Fuentes y estilos -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css"
      rel="stylesheet"
    />

    <!-- Título dinámico para la página -->
    <title>{title}</title>

    <!-- Sitemap y Robots.txt para SEO -->
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap.xml"
    />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <slot />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"
    ></script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
</style>
